<!DOCTYPE html>
<html ng-app="webAmp" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <base href="/">
    <script src="/combined/vendor.js"></script>
    <script src="/combined/application.js"></script>
  </head>
  <body>

    <div ng-controller="dashboardCtrl">

    <button ng-click="createInputNode()">Create Input Node</button>
    <button ng-click="createDelayNode()">Create Delay Node</button>
    <button ng-click="createGainNode()">Create Gain Node</button>
    <button ng-click="createOutputNode()">Create Output Node</button>

    <ul>
      <li ng-repeat="audioNode in audioNodes">
        {{audioNode.name}} Connected to {{audioNode.connectedNode.name}}

      </li>
    </ul>

    <canvas id ="c" width=800 height=800 style='width:800px;height:800px'></canvas>

    </div>

  </body>
</html>
