<!DOCTYPE html>
<html ng-app="webAmp" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <base href="/">
    <script src="/combined/vendor.js"></script>
    <script src="/combined/application.js"></script>
  </head>
  <body>

    <div ng-controller="dashboardCtrl">

    <button ng-click="createInputNode()">Create Input Node</button>
    <button ng-click="createDelayNode()">Create Delay Node</button>
    <button ng-click="createGainNode()">Create Gain Node</button>
    <button ng-click="createDriveNode()">Create Drive Node</button>
    <button ng-click="createOutputNode()">Create Output Node</button>
    <br>
    <button ng-click="connectNode()" ng-disabled="!soundboardUI.selectedAudioNodeUI">Connect to</button>
    <button ng-click="disconnectNode()" ng-disabled="!soundboardUI.selectedAudioNodeUI">Disconnect</button>

    <canvas id ="c" width=2000 height=1010></canvas>
    Value: <input type="text" ng-disabled="!soundboardUI.selectedAudioNodeUI" ng-model="soundboardUI.selectedAudioNodeUI.audioNode.value" ng-model-options="{ getterSetter: true, debounce: {'default': 1000, 'blur': 0} }"></input>

    </div>

  </body>
</html>
