<!DOCTYPE html>
<html ng-app="webAmp" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <base href="/">
    <script src="/combined/vendor.js"></script>
    <script src="/combined/application.js"></script>
  </head>
  <body>

    <div ng-controller="dashboardCtrl">

    <button ng-click="createGainNode()">Create Gain Node</button>
    <button ng-click="createDelayNode()">Create Delay Node</button>

    <h3>Audio Nodes:</h3>

    <ul>
      <li ng-repeat="audioNode in audioNodes">
        {{audioNode.name}} Connected to
        <ul>
          <li>
          <select ng-options="node.name for node in audioNodes" ng-model="audioNode.connectedNode" ng-model-options="{ getterSetter: true}">
            <option value="">-- select a node to connect to --</option>
          </select>
          Value: <input type="text" ng-model="audioNode.value" ng-model-options="{ getterSetter: true}"></input>
          </li>
        </ul>

      </li>
    </ul>

    </div>

  </body>
</html>
